<div class="user-profile" style="background: url(assets/images/background/user-info.png) no-repeat;">
  <div class="profile-img">
    <img src="assets/images/users/userprofile.png" alt="user">
  </div>
  <div class="profile-text">
    <a [matMenuTriggerFor]="sdprofile" class="mat-caption">
      menicanti@orlandi.mobi
      <mat-icon class=" ti-angle-down font-12 m-l-5">arrow_drop_down</mat-icon>
    </a>

  </div>
  <mat-menu #sdprofile="matMenu" class="mymegamenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
  </mat-menu>

</div>

<mat-nav-list>
  <mat-list-item>
    <a style="font-size: 13px;" routerLink="/home">
      <mat-icon>home</mat-icon>
      <div class="lts">HOME</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <div class="lts">DASHBOARD</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" routerLink="'/organizzazioni'">
      <mat-icon>domain</mat-icon>
      <div class="lts">ORGANIZZAZIONI</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/registri'">
      <mat-icon>content_paste</mat-icon>
      <div class="lts">REGISTRI</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/aprovazioni'">
      <mat-icon matBadge="1" matBadgeColor>assignment_late</mat-icon>
      <div class="lts">APROVAZIONI</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/impatto'">
      <mat-icon>verified_user</mat-icon>
      <div class="lts">IMPATTO</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/informative'">
      <mat-icon>info</mat-icon>
      <div class="lts">INFORMATIVE</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/violazioni'">
      <mat-icon>flash_on</mat-icon>
      <div class="lts">VIOLAZIONI</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/cataloghi'">
      <mat-icon>local_library</mat-icon>
      <div class="lts">CATALOGHI</div>
    </a>
  </mat-list-item>
</mat-nav-list>

<mat-nav-list style="position:relative; top: 15px ; ">
  <mat-list-item>
    <a style="font-size: 13px;">
      Modalità obiettivo &nbsp;
      <span class="new">
        NEW</span>
      <span fxFlex></span>
      <mat-slide-toggle [checked]="checked">
      </mat-slide-toggle>
    </a>

  </mat-list-item>
  <mat-divider style="background-color: gray;"></mat-divider>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/feedback'">
      <mat-icon>send</mat-icon>
      <div class="lts">FEEDBACK</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/importazioni'">
      <mat-icon>file_upload</mat-icon>
      <div class="lts">IMPORTAZIONI</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/documentazione'">
      <mat-icon>help</mat-icon>
      <div class="lts">DOCUMENTAZIONE</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/attivita'">
      <mat-icon>assignment_ind</mat-icon>
      <div class="lts">ATTIVITA</div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 13px;" [routerLink]="'/impostazioni'">
      <mat-icon>settings</mat-icon>
      <div class="lts">IMPOSTAZIONI</div>
    </a>
  </mat-list-item>
</mat-nav-list>
