<div class="user-profile" style="background: url(assets/images/background/user-info.png) no-repeat;">
  <div class="profile-img">
    <img src="assets/images/users/userprofile.png" alt="user">
  </div>
  <div class="profile-text">
    <a [matMenuTriggerFor]="sdprofile" class="mat-caption">
      menicanti@orlandi.mobi
      <mat-icon class=" ti-angle-down font-12 m-l-5">arrow_drop_down</mat-icon>
    </a>

  </div>
  <mat-menu #sdprofile="matMenu" class="mymegamenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
  </mat-menu>

</div>

<mat-nav-list>
  <mat-list-item>
    <a style="font-size: 11px;" routerLink="/home">
      <mat-icon>home</mat-icon> HOME
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> DASHBOARD
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/organizzazioni'">
      <mat-icon>domain</mat-icon> ORGANIZZAZIONI
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/registri'">
      <mat-icon>content_paste</mat-icon> REGISTRI
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/aprovazioni'">
      <mat-icon matBadge="1" matBadgeColor="warn">assignment_late</mat-icon> APROVAZIONI
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/impatto'">
      <mat-icon>verified_user</mat-icon> IMPATTO
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/informative'">
      <mat-icon>info</mat-icon> INFORMATIVE
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/violazioni'">
      <mat-icon>flash_on</mat-icon> VIOLAZIONI
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/cataloghi'">
      <mat-icon>local_library</mat-icon> CATALOGHI
    </a>
  </mat-list-item>
</mat-nav-list>

<!-- <mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" outerLinkActive="selected"
    group="{{menuitem.state}}">
    <a class appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
      <mat-icon>{{ menuitem.icon }} </mat-icon>

      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge" style="background-color: #fb3a3a;
      padding: 3px 10px;
      line-height: 13px;
      color: #fff;
      font-weight: 400;
      border-radius: 50%;
      font-size: 75%;
  ">{{ badge.value }}</span>
    </a>
  </mat-list-item>
</mat-nav-list> -->

<mat-nav-list style="position:absolute; bottom: 10px ; width:100%;">
  <mat-list-item>
    <a style="font-size: 12px;">
      Modalità obiettivo &nbsp;
      <span style="background-color: rgba(52,201,124,.16); color: #00c961;flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        width: 30px;
        max-width: 30px;
        height: 15px;
        border-radius: 4px;
        font-weight: 700;
        letter-spacing: -.2px;
        text-transform: uppercase;">
        NEW</span>
      <span fxFlex></span>
      <mat-slide-toggle style="color: #00c961">
      </mat-slide-toggle>
    </a>

  </mat-list-item>
  <mat-divider style="background-color: gray;"></mat-divider>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/feedback'">
      <mat-icon>send</mat-icon> FEEDBACK
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/importazioni'">
      <mat-icon>file_upload</mat-icon> IMPORTAZIONI
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/documentazione'">
      <mat-icon>help</mat-icon> DOCUMENTAZIONE
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/attivita'">
      <mat-icon>assignment_ind</mat-icon> ATTIVITA
    </a>
  </mat-list-item>
  <mat-list-item>
    <a style="font-size: 11px;" [routerLink]="'/impostazioni'">
      <mat-icon>settings</mat-icon> IMPOSTAZIONI
    </a>
  </mat-list-item>
</mat-nav-list>
