.section{
  color: black;
  list-style-type: none;
  border-left-style: solid;
  border-left-color: grey;
  padding-left: 10px;
  float:left;
		height: 480px;
		width: 60%;
		margin-left: 2%;
		margin-top: 5%;
		padding: 3em;
}
.active {
  color: black;
 border-left-style: solid;
 border-left-color: black;
}
