
<nav class="navigation" id="mainNav">
  <a class="navigation__link" href="#section1">Section 1</a>
  <a class="navigation__link" href="#section2">Section 2</a>
  <a class="navigation__link" href="#section3">Section 3</a>
  <a class="navigation__link" href="#section4">Section 4</a>
  <a class="navigation__link" href="#section5">Section 5</a>
  <a class="navigation__link" href="#section6">Section 6</a>
  <a class="navigation__link" href="#section7">Section 7</a>
</nav>

<div class="page-section hero" id="section1">
  <h1>Smooth scroll, fixed jump menu with active class</h1>
</div>
<div class="page-section" id="section2">
  <h1>Section Two</h1>
</div>
<div class="page-section" id="section3">
  <h1>Section Three</h1>
</div>
<div class="page-section" id="section4">
  <h1>Section Four</h1>
</div>
<div class="page-section" id="section5">
  <h1>Section Five</h1>
</div>
<div class="page-section" id="section6">
  <h1>Section Six</h1>
</div>
<div class="page-section" id="section7">
  <h1>Section Seven</h1>
</div>
