<div fxLayout="row wrap" fxFlex="100">
  <div>
    <nav fxLayout="column wrap" fxFlex="10" fxFlex.gt-sm="11" fxFlex.lt-sm="11" fxHide.lt-lg="true" class="navigation"
      id="mainNav">
      <a class="navigation__link" href="#section1">Privacy Score</a>
      <a class="navigation__link" href="#section2">Organizzazione</a>
      <a class="navigation__link" href="#section3">Asset</a>
      <a class="navigation__link" href="#section4">Trattamenti</a>
      <a class="navigation__link" href="#section5">Informative</a>
      <a class="navigation__link" href="#section6">Valutazioni d'impatto</a>
      <a class="navigation__link" href="#section7">Violazioni</a>
    </nav>
  </div>
  <div fxLayout="column" fxFlex="80" fxFlex.lt-lg="100">
    <div>
      <div class="page-section hero" id="section1">
        <mat-card fxFlex="98.5">
          <mat-card-content>
            <div class="d-flex flex-wrap">
              <div>
                <mat-card-title>Seleziona un'organizzazione e scopri il suo privacy score</mat-card-title><br>
                <mat-card-subtitle>Lo score privacy sintetizza la qualità del sistema privacy e il grado di aderenza al
                  GDPR. È il risultato dell'elaborazione di un algoritmo che tiene conto della completezza delle
                  informazioni censite relative ai dati anagrafici dell'organizzazione, dei registri dei trattamenti,
                  delle informative e nel caso in cui esistano, delle valutazioni d'impatto e delle
                  violazioni.<strong>Il
                    privacy score è un valore puramente indicativo il cui utilizzo deve sempre essere affiancato dalla
                    supervisione di un esperto.</strong></mat-card-subtitle>

                <form>
                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Organizzazione" aria-label="Number" matInput
                      [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>

                <div fxLayout="row" fxLayoutGap="30px">
                  <h1>4.5<small>&nbsp; /5</small>
                  </h1>
                  <fieldset class="rate">
                    <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10"></label>
                    <input type="radio" id="rating9" name="rating" value="9" /><label class="half"
                      for="rating9"></label>
                    <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8"></label>
                    <input type="radio" id="rating7" name="rating" value="7" /><label class="half"
                      for="rating7"></label>
                    <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6"></label>
                    <input type="radio" id="rating5" name="rating" value="5" /><label class="half"
                      for="rating5"></label>
                    <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4"></label>
                    <input type="radio" id="rating3" name="rating" value="3" /><label class="half"
                      for="rating3"></label>
                    <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2"></label>
                    <input type="radio" id="rating1" name="rating" value="1" /><label class="half"
                      for="rating1"></label>
                  </fieldset>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="page-section" id="section2">
        <mat-card-title style="font-size:larger; color: #3E3E3E;">
          <strong>Organizzazione:</strong> qual è
          il livello di
          completamento dei
          dati anagrafici?</mat-card-title>


        <div fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="5px">
            <div class="karta" fxFlexOrder="1" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="48.7">
              <mat-card class="kartablu">
                <mat-card-subtitle class="emriblu">Completamento media dati organizazione
                </mat-card-subtitle>
                <mat-icon class="infoiconblu">info_outline</mat-icon>
                <h3>25<small> %</small>
                </h3>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="2" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Generali</mat-card-subtitle>
                <h3>75<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="3" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Sedi</mat-card-subtitle>
                <h3>21<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="4" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Organigramma</mat-card-subtitle>
                <h3>25<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="5" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Contitolari</mat-card-subtitle>
                <h3>18<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="6" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Reppresentanti</mat-card-subtitle>
                <h3>34<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="7" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Responsabili</mat-card-subtitle>
                <h3>90<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="8" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Titolari</mat-card-subtitle>
                <h3>45<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="9" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">DPO</mat-card-subtitle>
                <h3>32<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="10" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Referanti</mat-card-subtitle>
                <h3>45<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section" id="section3">
        <mat-card-title style="font-size:larger; color: #3E3E3E;"><strong>Asset:</strong> hai registrato gli asset
          delli’organizzazione?</mat-card-title>
        <div fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="5px">
            <div class="karta" fxFlexOrder="1" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="48.7">
              <mat-card class="kartablu">
                <mat-card-subtitle class="emriblu">Completamento media dati Asset
                </mat-card-subtitle>
                <mat-icon class="infoiconblu">info_outline</mat-icon>
                <h3>76<small> %</small>
                </h3>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="2" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Asset totali</mat-card-subtitle>
                <h3>13 </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="3" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Nei trattamenti</mat-card-subtitle>
                <h3>5<small> &nbsp;13 (38%)</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="4" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Senza Trattamento</mat-card-subtitle>
                <h3>8<small> &nbsp;13 (62%)</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="5" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Asset interni</mat-card-subtitle>
                <h3>5 </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="6" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Dal responsibile</mat-card-subtitle>
                <h3>2 </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="7" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Responsabili</mat-card-subtitle>
                <h3>90<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section" id="section4">
        <mat-card-title style="font-size:larger; color: #3E3E3E;"><strong>Trattamenti:</strong> hai analizzato e
          tracciato le attività di trattamento dei dati personali?</mat-card-title>
        <div fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="5px">
            <div class="karta" fxFlexOrder="1" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="48.7">
              <mat-card class="kartablu">
                <mat-card-subtitle class="emriblu">Completamento media dei registri
                </mat-card-subtitle>
                <mat-icon class="infoiconblu">info_outline</mat-icon>
                <h3>25<small> %</small>
                </h3>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="2" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Registri totali</mat-card-subtitle>
                <h3>6 </h3><span class="pikajeshil"></span>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="3" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">De titolare - resp.</mat-card-subtitle>
                <h3>5 - 1</h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="4" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Trat. totali</mat-card-subtitle>
                <h3>22</h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="5" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Trat. in lavorazione</mat-card-subtitle>
                <h3>8<small> &nbsp;/22 (36%)</small> </h3><span class="pikaportokall"></span>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="6" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Trat. attivi</mat-card-subtitle>
                <h3>11<small> &nbsp;/22 (50%)</small> </h3><span class="pikaportokall"></span>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="7" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Trat. sospesi</mat-card-subtitle>
                <h3>3<small> &nbsp;/22 (14%)</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section" id="section5">
        <mat-card-title style="font-size:larger; color: #3E3E3E;"><strong>Informative:</strong> sono state predisposte
          le informative per gli interessati</mat-card-title>
        <div fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="5px">
            <div class="karta" fxFlexOrder="1" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="48.7">
              <mat-card class="kartablu">
                <mat-card-subtitle class="emriblu">Completamento media delle informative
                </mat-card-subtitle>
                <mat-icon class="infoiconblu">info_outline</mat-icon>
                <h3>34<small> %</small>
                </h3>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="1" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="48.7">
              <mat-card class="kartabardhgjate">
                <mat-card-subtitle class="emribardh">Cat. d'interessati che hanno l'inforo. / tot.
                </mat-card-subtitle>
                <h3>14 <small> &nbsp;/22 (62%)</small></h3><span class="pikaportokall"></span>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="1" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="48.7">
              <mat-card class="kartabardhgjate">
                <mat-card-subtitle class="emribardh">Cat. d'interessati a cui manca linfo. / tot.
                </mat-card-subtitle>
                <h3>8 <small> &nbsp;/22 (38%)</small></h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="4" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Informative totali</mat-card-subtitle>
                <h3>22</h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="5" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Informative in lavor.</mat-card-subtitle>
                <h3>5 </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="6" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Informative attive</mat-card-subtitle>
                <h3>13</h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="7" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Informative sospese</mat-card-subtitle>
                <h3>4</h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section" id="section6">
        <mat-card-title style="font-size:larger; color: #3E3E3E;">
          <strong>Organizzazione:</strong> qual è
          il livello di
          completamento dei
          dati anagrafici?</mat-card-title>
        <div fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="5px">
            <div class="karta" fxFlexOrder="1" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="48.7">
              <mat-card class="kartablu">
                <mat-card-subtitle class="emriblu">Completamento media deile val. d'impatto
                </mat-card-subtitle>
                <mat-icon class="infoiconblu">info_outline</mat-icon>
                <h3>76<small> %</small>
                </h3>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="2" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Trat. con DPIA</mat-card-subtitle>
                <h3>3 <small> &nbsp;/13 (23%)</small></h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="3" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Tratt. senza DPIA</mat-card-subtitle>
                <h3>3 <small> &nbsp;/6 (50%)</small></h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="4" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Val. in lavorazione</mat-card-subtitle>
                <h3>5 <small> &nbsp;/15 (33%)</small></h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="5" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">valutazioni attive</mat-card-subtitle>
                <h3>8<small> &nbsp;/15 (53%)</small></h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="6" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Valutazioni sospese</mat-card-subtitle>
                <h3>2<small> &nbsp;/15</small></h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="7" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Val. in scadenza</mat-card-subtitle>
                <h3>1<small> &nbsp;/15</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="8" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Tipo di rischio</mat-card-subtitle>
                <h3>10</h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="9" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Rischi sensa misure</mat-card-subtitle>
                <h3>3</h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="10" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Val. media rischio</mat-card-subtitle>
                <h3>12<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="10" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Val. media attenuato</mat-card-subtitle>
                <h3>4<small> %</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section" id="section7">
        <mat-card-title style="font-size:larger; color: #3E3E3E;">
          <strong>Violazioni:</strong> hai medio correttamente registrato le eventuali violazioni?</mat-card-title>


        <div fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="5px">
            <div class="karta" fxFlexOrder="1" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="48.7">
              <mat-card class="kartablu">
                <mat-card-subtitle class="emriblu">Completamento media di tutte le violazioni
                </mat-card-subtitle>
                <mat-icon class="infoiconblu">info_outline</mat-icon>
                <h3>16<small> &nbsp;%</small>
                </h3>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="2" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">No violazioni da</mat-card-subtitle>
                <h3>16<small>&nbsp; giorni</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="3" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Numero massimo</mat-card-subtitle>
                <h3>254<small>&nbsp; giorni</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="4" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Eventi totali</mat-card-subtitle>
                <h3>22 </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="5" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Eventi da analizzare</mat-card-subtitle>
                <h3>3<small>&nbsp; /22(14%)</small></h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon><span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="6" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">In corso di analisi</mat-card-subtitle>
                <h3>6<small>&nbsp; /22(73%)</small></h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="7" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Analisi concluse</mat-card-subtitle>
                <h3>3<small>&nbsp; /22(14%)</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="8" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Val. media rischio</mat-card-subtitle>
                <h3>4 </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikajeshil"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="9" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Notificate al Guarante</mat-card-subtitle>
                <h3>5<small>&nbsp; /22(23%)</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikakuq"></span>
              </mat-card>
            </div>
            <div class="karta" fxFlexOrder="10" fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-xs="100"
              fxFlex.gt-xs="24" fxLayoutAlign="start">
              <mat-card class="kartabardh">
                <mat-card-subtitle class="emribardh">Notificate agli inter.</mat-card-subtitle>
                <h3>4<small>&nbsp; /10(40%)</small> </h3>
                <mat-icon class="infoiconbardh">info_outline</mat-icon>
                <span class="pikaportokall"></span>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
