

.page-section {
		margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
		padding: 3em;
    background: white;
		color: black;
		box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.5);
}
.navigation {
    position: fixed;
    top: calc(4% + 64px);
    right: 1%;
		/* margin-top: 2%; */
		width: 20%;
		/* margin-right: 2%; */
  	color: #252525;
  	&__link {
			display: block;
    	color: grey;
    	text-decoration: none;
    	padding: 1em;
			font-weight: 400;
			border-left-style: solid;
 			border-left-color: grey;
		   &.active {
		   	color: black;
				border-left-style: solid;
				border-left-color: black;
		   }
  	}
}
