
  <nav  fxLayout="column" fxFlex="15" fxFlex.gt-sm="15" fxHide.lt-sm="true" class="navigation" id="mainNav">
    <a class="navigation__link" href="#section1">Section 1</a>
    <a class="navigation__link" href="#section2">Section 2</a>
    <a class="navigation__link" href="#section3">Section 3</a>
    <a class="navigation__link" href="#section4">Section 4</a>
    <a class="navigation__link" href="#section5">Section 5</a>
    <a class="navigation__link" href="#section6">Section 6</a>
    <a class="navigation__link" href="#section7">Section 7</a>
  </nav>
<div fxLayout="row wrap" fxFlex="80">
  <!-- column -->
  <div >
      <mat-card class="page-section hero" id="section1">
          <mat-card-content>
              <div class="d-flex flex-wrap">
                <div>
                      <mat-card-title>Sales Overview</mat-card-title>
                       <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
                       <div>
                        <div >
                          <h1>Smooth scroll, fixed jump menu with active class</h1>
                        </div>

                      </div>
                    </div>
              </div>
          </mat-card-content>
      </mat-card>

      <mat-card class="page-section" id="section2">
        <mat-card-content>
            <div class="d-flex flex-wrap">
              <div>
                    <mat-card-title>Sales Overview</mat-card-title>
                     <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
                     <div>
                      <div>
                        <h1>Section Two</h1>
                      </div>
                    </div>
                  </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="page-section" id="section3">
      <mat-card-content>
          <div class="d-flex flex-wrap">
            <div>
                  <mat-card-title>Sales Overview</mat-card-title>
                   <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
                   <div>
                    <div>
                      <h1>Section Three</h1>
                    </div>
                  </div>
                </div>
          </div>
      </mat-card-content>
  </mat-card>
  <mat-card class="page-section" id="section4">
    <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
                <mat-card-title>Sales Overview</mat-card-title>
                 <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
                 <div>
                  <div>
                    <h1>Section Four</h1>
                  </div>
                </div>
              </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="page-section" id="section5">
  <mat-card-content>
      <div class="d-flex flex-wrap">
        <div>
              <mat-card-title>Sales Overview</mat-card-title>
               <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
               <div>
                <div>
                  <h1>Section Five</h1>
                </div>
              </div>
            </div>
      </div>
  </mat-card-content>
</mat-card>
<mat-card class="page-section" id="section6">
  <mat-card-content>
      <div class="d-flex flex-wrap">
        <div>
              <mat-card-title>Sales Overview</mat-card-title>
               <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
               <div>
                <div>
                  <h1>Section Six</h1>
                </div>
              </div>
            </div>
      </div>
  </mat-card-content>
</mat-card>
<mat-card class="page-section" id="section7">
  <mat-card-content>
      <div class="d-flex flex-wrap">
        <div>
              <mat-card-title>Sales Overview</mat-card-title>
               <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
               <div>
                <div>
                  <h1>Section Seven</h1>
                </div>
              </div>
            </div>
      </div>
  </mat-card-content>
</mat-card>
  </div>
  <!-- column -->
  <!-- column -->




  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
